:root {
  --mainBGColor: rgb(110, 180, 241);
}

.nav {
    grid-area: nav;
    background-color: var(--mainBGColor);
    padding: 10px;
  }
.empty{
  display: none;
}

.item {
  margin-top: 5px;
}

.item a{
    color: black;
    text-decoration: none;
    font-size: large;
  }

.item a.active {
  color:whitesmoke;
  
}   



@media screen and (max-device-width:480px) {
 
  .navMobile {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 84vh;
    width: 89vw;
    z-index: 200;
    opacity: 0.5;
  }
  
}