
  .profileDescribe {
    display: flex;
    margin-top: 10px;
  }

  .avaDiv img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    margin-left: 10px;
    margin-right: 20px;
  }

  .aboutMySelf {
    background-color:white;
    border-radius: 10px;
    width: 100%;
    padding: 20px; 
    font-size: 14pt;
  }
  

@media screen and (max-device-width:480px) {
   
  .profileDescribe {
    display: flex;
  }
  
  .avaDiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .profileLikes{
    width: 80px;
  }

  .avaDiv img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
  }

  .aboutMySelf {
    background-color:white;
    border-radius: 10px;
    width: 100%;
    padding: 20px; 
    font-size: 14pt;
  }
}
  