.dialogs {
    display: flex;
    justify-content: center;
    height: auto;
}


.messages{
    background-color: white;
    margin: 10px;
    width: 70%;
    padding: 20px;
    height: 100%;
    min-height: 300px;
    max-height: 705px;
    overflow: scroll;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.chats{
    background-color: white;
    margin: 10px;
    width: 28%;
    padding: 20px;
}